<!DOCTYPE html>
<html>
<head>
    <title>AI Chatbot</title>
</head>
<body>

    <h1>AI Chatbot</h1>

    <input type="text" id="question" placeholder="Ask something">
    
    <button onclick="sendMessage()">
        Send
    </button>

    <h3>Answer:</h3>

    <div id="answer"></div>

    <script>
        async function sendMessage() {

            const question = document.getElementById("question").value;

            const response = await fetch("/chat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    question: question
                })
            });

            const data = await response.json();

            document.getElementById("answer").innerText = data.answer;
        }
    </script>

</body>
</html>