<!DOCTYPE html>
<html>
<head>
    <title>AI Chatbot</title>

    <style>
        body{
            background:black;
            color:white;
            font-family:Arial;
            padding:30px;
        }

        input{
            width:400px;
            padding:15px;
            font-size:22px;
        }

        button{
            padding:15px;
            font-size:22px;
        }

        .answer{
            margin-top:30px;
            background:#111;
            padding:20px;
            border-radius:10px;
        }
    </style>

</head>

<body>

    <h1>AI Chatbot</h1>

    <form method="POST">

        <input
            type="text"
            name="question"
            placeholder="Ask anything..."
            required
        >

        <button type="submit">Send</button>

    </form>

    {% if question %}

        <div class="answer">

            <h2>You asked: {{ question }}</h2>

            <h3>AI Answer:</h3>

            <p>{{ answer }}</p>

        </div>

    {% endif %}

</body>
</html>